page-home {
    .heart {
        height:70px;
        width:70px;
        & .outline:before,
        & .outline:after {
            position: absolute;
            content:"";
            left: 28px;
            top: 1px;
            width: 39px;
            height: 62px;
            background: #d53423;
            border-radius: 85px 60px 0 0;
            transform: rotate(-45deg);
            transform-origin: 0 100%;
        }

        & .outline:before { 
            color: white;
            font-weight: bold;
            content:"Love";
        }

        & .outline:after {
            left: -11px;
            border-radius: 45px 60px 0 0;
            transform: rotate(45deg);
            transform-origin: 100% 100%;
        }
    }
}